.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
tsconfig.json
webpack.config.js
.env
.env.*
test.js
**/*.ts
**/*.map
**/node_modules/**
**/.eslintrc.json
**/*.vsix
*_old.ts
*_Simple.ts
.editorconfig
.prettierrc
.eslintrc.js
